/* JSDoc prettify.js theme */

/* plain text */


/* string content */


/* a keyword */


/* a comment */


/* a type name */


/* a literal value */


/* punctuation */


/* lisp open bracket */


/* lisp close bracket */


/* a markup tag name */


/* a markup attribute name */


/* a markup attribute value */


/* a declaration */


/* a variable name */


/* a function name */


/* Specify class=linenums on a pre to get line numbering */
ol.linenums{
  margin-top: 0;
  margin-bottom: 0;
}
