/* Tomorrow Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* Pretty printing styles. Used with prettify.js. */
/* SPAN elements with the classes below are added by prettyprint. */
/* plain text */


@media screen {
  /* string content */
  

  /* a keyword */
  

  /* a comment */
  

  /* a type name */
  

  /* a literal value */
  

  /* punctuation */
  

  /* lisp open bracket */
  

  /* lisp close bracket */
  

  /* a markup tag name */
  

  /* a markup attribute name */
  

  /* a markup attribute value */
  

  /* a declaration */
  

  /* a variable name */
  

  /* a function name */
   }
/* Use higher contrast and text-weight for printable form. */

/* Style */
/*
pre.prettyprint {
  background: white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid #ccc;
  padding: 10px; }
*/

/* Specify class=linenums on a pre to get line numbering */
ol.linenums{
  margin-top: 0;
  margin-bottom: 0; }

/* IE indents via margin-left */


/* Alternate shading for lines */

