@media (min-width: 601px) and (max-width: 621px) {
    main {
        padding-top: 77px;
    }
}

@media (max-width: 600px) {
    * {
        font-size: 16px;
    }

    main {
        background-color: rgb(246, 247, 248);
    }

    .contact-maintitle-container {
        margin-top: 24px;
    }

    .contact-back-btn {
        top: 16px;
        right: -16px;
    }

    .contact-div-right {
        margin: 0px 24px 0px 8px;
    }


    .contact-section {
        padding: 0 12px;
        margin-top: 0px;
    }

    .contact-section-left {
        box-shadow: none;
    }

    .add-contact-btn {
        width: 52px;
        height: 52px;
        right: 8px;
        bottom: 116px;
    }

    .add-contact-btn img {
        width: 26px;
        height: 26px;
    }

    .title-contacts {
        font-size: 40px;
    }

    .subtitle {
        font-size: 18px;
    }

    .contact-header-large {
        gap: 16px;
        margin-bottom: 16px;
        padding-bottom: 0px;
    }

    .contact-avatar-large {
        margin-bottom: 0px;
    }

    .contact-initials-large {
        width: 80px;
        height: 80px;
        font-size: 32px;
        font-weight: 500;
        margin-right: 0px;
    }

    .contact-name-large {
        font-size: 24px;
    }

    .contact-actions {
        display: none;
    }

    .contact-action-btn {
        font-size: 16px;
        padding: 0 6px;
    }

    .contact-action-btn svg {
        width: 20px;
        height: 20px;
    }

    .contact-information-h3 {
        margin-bottom: 24px;
    }

    .contact-info-email {
        gap: 8px;
    }

    .contact-info-details {
        gap: 0px;
    }

    .contact-info-phone {
        gap: 10px;
    }

    .ac-title {
        font-size: 30px;
    }

    .ac-subtitle {
        font-size: 16px;
        margin-bottom: 0px;
    }

    .btn {
        font-size: 16px;
        padding: 0 16px;
    }

    .ac-close {
        top: 16px;
        right: 16px;
        font-size: 24px;
        color: rgb(246, 247, 248);
    }

    .ac-brand {
        display: none;
    }

    .ac-title {
        margin: 0;
    }

    .ac-formwrap {
        flex-direction: column;
        padding: 0;
    }

    .ac-avatar {
        margin-bottom: 0px;
        position: absolute;
        bottom: 79%;
        z-index: 5;
    }

    .ac-form {
        gap: 16px;
        align-items: center;
        margin-top: 32px;
    }

    .ac-formwrap {
        gap: 0px;
    }

    .ac-field {
        width: 280px;
        padding-right: 8px;
        height: 40px;
    }

    .ac-field input.input-focus {
        padding: 0 8px;
        font-size: 16px;
    }

    .ac-actions {
        margin-top: 0px;
    }

    .ac-hero {
        height: 192px;
        justify-content: center;
    }

    .btn-primary {
        min-width: 0px;
    }

    .btn {
        height: 40px;
    }

    .ac-dialog {
        width: 305px;
    }

    .ac-avatar img {
        width: 80px;
        height: 80px;
        opacity: 1;
    }

    .responsive-close-btn {
        display: none;
    }
}

@media (max-width: 780px) {
    .ac-title {
        font-size: 35px;
    }

    .ac-subtitle {
        font-size: 18px;
        margin-bottom: 0px;
    }

    .ac-close {
        top: 16px;
        right: 16px;
        font-size: 24px;
        color: rgb(246, 247, 248);
    }

    .ac-brand {
        display: none;
    }

    .ac-title {
        margin: 0;
    }

    .ac-formwrap {
        flex-direction: column;
        padding: 0;
    }

    .ac-avatar {
        margin-bottom: 0px;
        position: absolute;
        bottom: 79%;
        z-index: 5;
    }

    .ac-form {
        gap: 16px;
        align-items: center;
        margin-top: 32px;
    }

    .ac-formwrap {
        gap: 0px;
    }

    .ac-field {
        width: 280px;
        padding-right: 8px;
        height: 40px;
    }

    .ac-field input.input-focus {
        padding: 0 8px;
        font-size: 16px;
    }

    .ac-actions {
        margin-top: 0px;
    }

    .ac-hero {
        height: 192px;
        justify-content: center;
    }

    .ac-dialog {
        width: 305px;
    }

    .ac-avatar img {
        width: 80px;
        height: 80px;
        opacity: 1;
    }
}

@media (min-width: 781px) and (max-width: 900px) {
    .ac-underline {
        margin-bottom: 32px;
    }

    .ac-dialog {
        width: 600px;
    }

    .ac {
        width: 600px;
    }

    .ac-formwrap {
        flex-direction: column;
        gap: 0px;
    }

    .ac-avatar {
        margin-top: -92px;
    }

    .ac-avatar img {
        opacity: 1;
    }
}